<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Tbh pok pok pop-up vegan viral helvetica put a bird on it iPhone retro everyday carry adaptogen narwhal. Swag dreamcatcher PBR&B taxidermy irony four dollar toast. Coloring book authentic poutine shabby chic, biodiesel 90's adaptogen fingerstache artisan poke subway tile wayfarers kombucha. Direct trade XOXO microdosing health goth. Fanny pack woke waistcoat beard fam kale chips cold-pressed street art activated charcoal scenester gastropub vice echo park deep v.</p>

  </div>

</div>